.my-custom-react-select__menu {
    /* z-index: 200; */
    /* height: 200px; */
  }
  .my-custom-react-select__control {
    border-width: 1px !important;
    border-color: #cbd5e0 !important;
    padding-top: 0.16rem;
    padding-bottom: 0.16rem;

  }
  
  .my-custom-react-select__control--is-focused {
    border-color: #746df7 !important;
    box-shadow: none !important;
margin-bottom: 300px;

  }
  
  .my-custom-react-select__indicator-separator {
     display: none;
     margin-bottom: 100px;
  }